@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  --Primary: rgb(255, 87, 87);
  --Secondary: #0f0f0f;
  --PrimaryLight: #ff575799;
  --Grey: #c1c1c1;
  --LightGrey: rgba(193, 193, 193, 0.451);
  --RedBorder: 1px solid red;
  --BlueBorder: 1px solid blue;
  --GreenBorder: 1px solid green;

  margin: 0;
  padding: 0;
  background-color: var(--Secondary);
  color: rgba(255, 255, 255, 1);
  font-family: "DM Sans";
  box-sizing: border-box;
  overflow-x: hidden;
}

.heroSection {
  display: flex;
  justify-content: space-between;
}

input {
  width: 462px;
  height: 90px;
  border-radius: 11px 0px 0px 11px;
  border: 1px solid var(--Grey);
}

.searchMagnifyingBox {
  background-image: url("/assets/SVG/magnifierSearch.svg");

  background-repeat: no-repeat;
  background-position: center;
  width: 104px;
  height: 90px;
  background-color: var(--Primary);
  border-radius: 0px 11px 11px 0px;
}
.searchComponent {
  display: flex;
}
.heroSliderSection {
  padding-top: 30px;
}
.sliderImages {
  background-image: url("/assets/PNG/sliderImage.png");
  width: 522px;
  height: 391px;
  background-repeat: no-repeat;
  z-index: 10;
  border: var(--BlueBorder);

  position: relative;
}
.dotsLogoOne {
  background-image: url("/assets/SVG/dotsLogo.svg");
  width: 295px;
  height: 295px;
  position: relative;
  z-index: 1;
  top: -460px;
  left: -80px;
}

.dotsLogoTwo {
  background-image: url("/assets/SVG/dotsLogo.svg");
  width: 295px;
  height: 295px;
  position: absolute;
  z-index: 1;
  top: -440px;
  left: 210px;
}

/* .greyBgImage {
  background-image: url("/assets/PNG/.greyBgImage.png");
  width: 406px;
  height: 780px;
  position: relative;
  top: -500px;
  z-index: 0;
} */
.dot {
  background-image: url("/assets/SVG/dot.svg");
  width: 5px;
  height: 5px;
  background-repeat: no-repeat;
  border: var(--RedBorder);
  display: flex;
  align-self: center;
}

.cards {
  display: flex;
  padding: 35px 75px 0px 75px;
  justify-content: space-evenly;
}

.individualCard {
  width: 527px;
  height: 429px;
  border-radius: 9.9px;
  border: 1px solid rgba(193, 193, 193, 1);
}

.cardTopHeading {
  border-bottom: 1px solid var(--Grey);
  padding: 35px 0px 35px 25px;
  font-weight: 500;
  font-size: 20px;
}

.cardComment {
  padding: 35px 25px 35px 25px;
  font-weight: 400;
  font-size: 18px;
  height: 200px;
  border: var(--BlueBorder);
}
.byDate {
  display: flex;
  justify-content: space-between;
  padding: 25px 25px 35px 25px;
}
.commentsData {
  padding-left: 25px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  font-size: 18.9px;
}
.views {
  color: var(--Primary);
}

.likes {
  color: var(--Primary);
}
.dislikes {
  color: var(--Primary);
}
.fsLogosBox {
  padding: 55px 0px 0px 125px;
}
.fsLogos {
  width: 1105px;
  height: 500px;
  overflow-y: hidden;
  position: relative;
}
.whatever {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 95px;
  padding: 50px;
}
.horizontalLine {
  border-bottom: 1px solid var(--Grey);
  width: 100%;
  position: absolute;
  top: 250px;
  left: 0px;
}

.verticalLineOne {
  border-left: 1px solid var(--Grey);
  height: 500px;
  position: absolute;
  top: 0px;
  left: 276px;
}

.verticalLineTwo {
  border-left: 1px solid var(--Grey);
  height: 500px;
  position: absolute;
  top: 0px;
  left: 552.5px;
}
.verticalLineThree {
  border-right: 1px solid var(--Grey);
  height: 500px;
  position: absolute;
  top: 0px;
  left: 850px;
}

.newsPreview {
  display: flex;
  position: relative;
  border: var(--BlueBorder);
  padding: 0px 55px 0px 55px;
  justify-content: space-between;
}
.newsPreviewText {
  border: var(--GreenBorder);
  position: absolute;
  width: 370px;
  height: 100px;
  top: 300px;
  background-color: transparent;
}

.newsNameDate {
  font-weight: 400;
  font-size: 20px;
  color: var(--Primary);
  background-color: transparent;
}

.newsArticlePreview {
  font-weight: 500;
  font-size: 25px;
  background-color: transparent;
}
.rankingSection {
  padding: 0px 55px 0px 55px;
}

.fsLogoImages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 150px;

  border: var(--BlueBorder);
}
.logoImagesNew {
  position: relative;
}
.logoNumber {
  position: absolute;
}

.logInComponent {
  padding: 100px 0px 0px 106px;
  border: var(--GreenBorder);
}

.logInBgImage {
  background-image: url("/assets/PNG/logInImage.png");
  width: 1067px;
  height: 409px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.logInImageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding-top: 100px;
}
.logInButton {
  font-size: 25px;
  font-weight: 500;
  background-color: transparent;
}
.bgLogoone {
  display: flex;
  justify-content: right;
}
.bgLogo {
  background-image: url("/assets/SVG/bgImageLogo.svg");
  width: 42%;
  height: 155px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 400px;
}
