.heroHeading {
  font-weight: 700;
  font-size: 60px;
  font-family: "DM Sans";
  padding: 55px;
}

.heading2 {
  color: var(--Primary);
}

.heading3 {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 85px;
}

.postsHeading {
  font-weight: 700;
  font-size: 60px;
  color: var(--Primary);
  text-align: center;
}

.postSubHeading {
  display: flex;
  justify-content: center;
}
.Subheadings {
  width: 423px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.organizationHeadingOne {
  font-weight: 700;
  font-size: 60px;
  color: var(--Primary);
  padding: 55px 55px 35px 55px;
}

.organizationHeadingTwo {
  color: var(--Primary);
}
.organizationHeadingThree {
  font-weight: 500;
  font-size: 20px;
  padding-left: 55px;
}
.newsHeading {
  font-weight: 700;
  font-size: 60px;
  color: var(--Primary);
  padding: 75px 55px 50px 55px;
}

.rankingHeading {
  font-weight: 700;
  font-size: 60px;
  padding: 55px 0px 20px 0px;
  color: var(--Primary);
}

.subHeadingOne {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 20px;
}

.subHeadingTwo {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 20px;
}
