.navBar {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 55px 55px 35px 55px ;
}
.sidebar {
  display: none;
}
.darkLightMode {
  display: none;
}
.rushLinkLogo {
  background-image: url("../public/assets/SVG/rushLinkLogo.svg");
  width: 211px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
}
.navBarLinks {
  display: flex;
  width: 630px;
}
.navBarLink {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  gap: 50px;
}
.navBarLinkMobile{
  display: none;
}
@media only screen and (max-width: 768px) {
  .navBar {
    padding: 55px 30px 55px 30px;
    position: relative;
    z-index: 0;
  }
  span {
    text-align: center;
  }
  .navBarLinks {
    display: none;
  }
  .navBarLinkMobile {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    width: 250px;
    background-color: var(--Primary);
    padding: 50px 20px 20px 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    transition: left 0.3s ease-in-out;
  }

  .navBarLinkMobile.open {
    left: 0;
  }

  .sidebar {
    cursor: pointer;
  }

  .close-btn {
    font-size: 18px;
    align-self: center;
    cursor: pointer;
  }
  .sidebar {
    background-image: url("../public/assets/SVG/sidebar.svg");
    width: 30px;
    height: 16.66px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }
  .sidebar:hover {
    cursor: pointer;
  }
  .rushLinkLogo {
    background-image: url("../public/assets/SVG/navbarLogoMobile.svg");
    width: 93px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .darkLightMode {
    background-image: url("../public/assets/SVG/settingsLogoNavbar.svg");
    width: 19.3px;
    height: 19.3px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }
}
