.navBar {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 55px;
}

.rushLinkLogo {
  background-image: url("../public/assets/SVG/rushLinkLogo.svg");
  width: 211px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
}
.navBarLinks {
  display: flex;
  width: 630px;
 
}
.navBarLink {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  gap: 50px;
}
